@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.blue-dark {
  color: #073B4C;
}

.bg-blue-dark {
  background-color: #073B4C;
}

.yellow-wine {
  color: #FFD166;
}

.bg-yellow-wine {
  background-color: #FFD166;
}

.bg-input {
  background-color: #E7E7E7;
}

.bg-white1 {
  background-color: #E7E7E7;
}

.bg-white2 {
  background-color: #CBCBCB;
}

.bg-main {
  background-color: #fef9e7df;
}

.bg-dark-main{
  background-color: #101010cb;
}

.text-gray {
  color: #6C6C6C;
}

#root {
  padding: 0 !important;
  margin: 0 !important;
  text-align: left;
}

* {
  /* font-family: "Inter", serif !important; */
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

.a {
  color: #FFD166;
  text-decoration: underline;
  text-decoration-color: #FFD166;
  text-decoration-thickness: 2px;
}

.just-print{
  display: none;
}


@media print{
  .just-print{
    display: block!important;
  }
  .no-print{
    display: none!important;
  }
}